/* CSS styles */

:root {
    font-family: "Inter", Helvetica, Arial, sans-serif;

    font-size: 12px;
    line-height: 1.25;

    font-weight: 500;   /* thickness: normal, light, bold or numeric 400 is normal, 700 is bold, etc. */
    font-style: normal;   /* shape: normal, italic, oblique */

    color: black;
    text-align: left;
    font-optical-sizing: auto;   /* optical tracking */ 
}

body {
    /* display: block; */
}

.clock {
    margin-bottom: .825rem;
    font-family: monospace;
    width: 10%;
}

.page {
    width: 100%;
}

h1, 
p, 
a,
ul, 
li {
    margin: 0;
    max-width: 600px;
}

h1 {
    font-size: 12px;
    font-weight: 500;
}

* + h1 {
    margin-top: .825rem;
}

h1 + p {
    margin-top: 0.25rem;
}

* + p {
    margin-top: 1rem;
}

li {
    list-style: none outside;
    margin-left: 0.25rem;
    padding-left: 0;
}

* + li {
  margin-top: .25rem;
}

a {
    color: black;
    /* text-decoration: none; */
}

.footnote {
    font-size: 8px;
    color: gray;
}

img {
    display: block;
    width: 20%;
}

.table-scroll {
    width: 100%;
    overflow-x: scroll;
}

table {
    margin-top: .825rem;
    width: max-content;
    min-width: 100%;
    border-collapse: collapse;
  }

th {
    font-weight: 800;
    line-height: 1.25;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    background-color: aliceblue;
}

td {
    padding: 0 20px 0 0;
    font-weight: 500;
    line-height: 1.25;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
    width: 80px;
}

@media (max-width: 650px) {
    .clock {
    margin-bottom: .825rem;
    font-family: monospace;
    width: 100%;
    }   

    body {
    display: block;
    }

    .page {
        width: 100%;
    }

    img{
        width: 100%;
    }

    h1, 
    p, 
    a,
    ul, 
    li {
        max-width: 100%;
    }

}