/* CSS styles */

:root {
    font-family: "Inter", Helvetica, Arial, sans-serif;

    font-size: 12px;
    line-height: 1.25;

    font-weight: 500;   /* thickness: normal, light, bold or numeric 400 is normal, 700 is bold, etc. */
    font-style: normal;   /* shape: normal, italic, oblique */

    color: crimson;
    text-align: left;
    font-optical-sizing: auto;   /* optical tracking */ 
}

::selection {
  background: #02aff0; /* Меняем цвет и фон выделенного текста */
  color: #fff;
}

.clock {
    margin-bottom: .825rem;
    font-family: monospace;
}

.page {
    max-width: 60%;
}

h1, 
p, 
a,
ul, 
li {
    margin: 0;
}

h1 {
    font-size: 12px;
    font-weight: 500;
}

* + h1 {
    margin-top: .825rem;
}

h1 + p {
    margin: 0;
}

* + p {
    margin-top: .825rem;
}

li {
    list-style: none outside;
    margin-left: 2rem;
    padding-left: 0;
}

* + li {
  margin-top: .25rem;
}

a {
    color: black;
    text-decoration: none;
}

.footnote {
    font-size: 9px;
    color: gray;
}

img {
    display: block;
    width: 100%;
}

@media (max-width: 650px) {
   
    .page {
        max-width: 100%;
    }

}