.clock {
    /* margin-left: 40px; */
}

body {
    max-width: 60%;
    font-family: Helvetica, Arial, sans-serif;
    color: crimson;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-user-select: none;
    -khtml-user-select: none;
}

.img {
    width: 100%;
    margin-top: 10px;
}

.boss {
    padding-left: 30px;
}

a {
    color: black;
}

p, li, .clock{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11pt;
    line-height: 120%;
    /* text-align: center; */
}

@media (max-width: 450px) {
    .clock {
    /* margin-left: 40px; */
}

body {
    max-width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color: crimson;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-user-select: none;
    -khtml-user-select: none;
}

.img {
    width: 100%;
    margin-top: 10px;
}

.boss {
    padding-left: 30px;
}

a {
    color: black;
}

p, li, .clock{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11pt;
    line-height: 120%;
    /* text-align: center; */
}
}